.sidenav-container {
    height: 100%;
    width: 100%;
}

.sidenav-container-video {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 20px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding-top: 2%;
    box-sizing: border-box;
  }
